<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <title>Datawrapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Datawrapper is an open source tool helping everyone to create simple, correct and embeddable charts in minutes.">
    <meta name="author" content="Mirko Lorenz, Nicolas Kayser-Bril, Gregor Aisch">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />

    <!-- Le styles -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/datawrapper.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/static/vendor/json-js/json2.min.js"></script>
      <link href="/static/css/datawrapper-ie.css" rel="stylesheet">
    <![endif]-->

    
    <script type="text/javascript" src="/static/vendor/require-js/require-2.1.8.min.js"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: '/static',
            paths: {
                dw: 'js/dw',
                handsontable: 'vendor/handsontable/jquery.handsontable.full'
            },
            urlArgs: 'v=1.7.0'
        });
    </script>
    <script type="text/javascript" src="/static/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/vendor/underscore/underscore-1.5.2.min.js"></script>
    <script type="text/javascript" src="/static/vendor/cryptojs/hmac-sha256.js"></script>
    <script type="text/javascript" src="/static/vendor/globalize/globalize.js"></script>
    <script type="text/javascript" src="/static/vendor/globalize/cultures/globalize.culture.de.js"></script>
        <script type="text/javascript" src="/static/js/dw-2.0.js"></script>
    <script type="text/javascript" src="/static/js/dw-backend.js"></script>

        <link href="/static/css/" rel="stylesheet">
    
        <link href="/static/plugins/skin-flat/skin-flat.css?v=1.0" rel="stylesheet">
    
  </head>


  <body class="dw  de" data-locale="de">


    <div class="container">

      
      <header class="header">
        <div class="row topnav">
            <!--<div class="span3">
              <div class="dw-logo-type dw-logo"><i class="wrap">[&nbsp;</i><a href="/">Datawrapper</a><i class="wrap">&nbsp;]</i></div>
              <div class="dw-logo-sub">Open Source Data Visualization</div>
            </div>-->

                        
    <div class="modal hide" id="dwLoginForm">
        <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">Ã</button>
            <h2>&nbsp;</h2>
        </div>-->
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">Ã</button>
            <div class="row">
                <div class="span3 row-login">

                    <h3>Login</h3>

                    <p>We're glad to see you again. Login to access your charts, and create new ones.</p>

                    <div class="login-form form-vertical">
                        <div class="control-group"><input class="login-email input-xxlarge span3" type="text" value="" placeholder="email" /></div>
                        <div class="control-group"><input class="login-pwd input-xxlarge span3" type="password" value="" placeholder="password" /></div>

                        <div class="row">
                            <div class="span2" style="padding-bottom:10px">
                                <a class="btn btn-login btn-primary btn-large">
                                    <i class="icon-user icon-white"></i> Login                                </a>
                                <a style="display:none" class="btn btn-send-pw btn-info">
                                    Send new password                                </a>
                            </div>
                            <div class="span2">
                                <label class="checkbox" for="keep-login">
                                    <input id="keep-login" class="keep-login" type="checkbox" checked="checked"> Remember login?                                </label>
                                <a id="forgot-password" href="#">Can't recall your password?</a>
                                <a id="send-pw-cancel" style="display:none" href="#">Return to login...</a>
                            </div>
                        </div>
                    </div>

                </div>
                                <div class="span3 row-signup">
                    <h3>Create a new account</h3>
                    <p>Datawrapper is 100&#37; free and creating an account takes less than a minute. Just enter your email and pick a password, and you're done!</p>
                    <div class="signup-form form-vertcal">
                        <div class="control-group">
                            <input type="text" class="input-xlarge span2 register-email" placeholder="email" />
                        </div>
                        <div class="control-group">
                            <input type="password" class="input-xlarge span2 register-pwd" placeholder="password" />
                        </div>
                        <div class="control-group">
                            <input type="password" class="input-xlarge span2 register-pwd-2" placeholder="repeat password" />
                        </div>
                        <a class="btn-register btn btn-large"><i class="icon-pencil"></i> Sign Up</a>
                    </div>
                </div>
                            </div>
                        <div style="padding:10px 13px 0;border-top:1px solid #eee;text-align:center">
               Alternatively you can sign in via:                 <div style="margin-top:4px">
                    
<style type="text/css">
.btn-github { position: relative; padding-left: 40px;}
.btn-github:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-image: url(/static/plugins/signin-github/github.svg);
}
</style>
<a href="/signin/github" class="btn btn-github btn-large">
  GitHub
 </a>

<style type="text/css">
.btn-twitter { position: relative; padding-left: 40px;}
.btn-twitter:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-image: url(/static/plugins/signin-twitter/twitter.svg);
}

</style>
<a href="/signin/twitter" class="btn btn-twitter btn-large">
   Twitter
 </a>

                </div>
            </div>
                    </div>

    </div>

        <script type="text/javascript">
        $(function() {
            //$('a').click(console.log);
            $('#forgot-password').click(function(e) {
                e.preventDefault();
                var form = $(e.target).parents('.modal');
                $('.login-pwd', form).hide();
                $('.btn-login', form).hide();
                $('label[for=keep-login]', form).hide();
                $('#forgot-password', form).hide();
                $('.btn-send-pw', form).fadeIn();
                $('#send-pw-cancel', form).fadeIn();
            });

            $('#send-pw-cancel').click(function(e) {
                e.preventDefault();
                var form = $(e.target).parents('.modal');
                $('.login-pwd', form).fadeIn();
                $('.btn-login', form).fadeIn();
                $('label[for=keep-login]', form).fadeIn();
                $('#forgot-password', form).fadeIn();
                $('.btn-send-pw', form).hide();
                $('#send-pw-cancel', form).hide();
            });

            $('.btn-send-pw').click(function(e) {
                if ($('.login-email').val().trim() == '') {
                    $('.login-email').parent().addClass('error');
                    return false;
                }
                $('.login-email').parent().removeClass('error');
                $.ajax({
                    url: '/api/account/reset-password',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({
                        email: $('.login-email').val()
                    }),
                    success: function(res) {
                        if (res.status == 'ok') {
                            dw.backend.logMessage(res.data, $(e.target).parent());
                        } else {
                            if (res.code == 'login-email-unknown') {
                                $('.login-email').parent().addClass('error');
                            }
                            dw.backend.logError(res.message, $(e.target).parent());
                        }
                    }
                });
            });
        });
        </script>



                        
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" style="position:relative">
                 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="/">
                                        Datawrapper<span class="beta"></span>
                </a>

                <div class="nav-collapse">
                    <ul class="nav dw-header-nav pull-right">

                                                
        <li class="chart">
            <a id="dw-header-link-chart" href="/chart/create">
                                <i title="Create Chart" class="icon-pencil icon-whie"></i>
                                                Create Chart
                            </a>
        </li>

    
                                                
        <li class="gallery">
            <a id="dw-header-link-gallery" href="/gallery/">
                                <i title="Gallery" class="icon-signal icon-whie"></i>
                                                Gallery
                            </a>
        </li>

    
                                                
        <li class="login">
            <a id="dw-header-link-login" href="#login">
                                <i title="Login / Sign Up" class="icon-user icon-whie"></i>
                                                Login / Sign Up
                            </a>
        </li>

    
                                                
        <li class="lang dropdown">
            <a id="dw-header-link-lang" href="" class="dropdown-toggle" data-toggle="dropdown">
                                                DE
                                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                                    
            <li>
            <a href="#lang-de-DE">Deutsch</a>
        </li>
    

                                    
            <li>
            <a href="#lang-en-GB">English</a>
        </li>
    

                                    
            <li>
            <a href="#lang-fr-FR">FranÃ§ais</a>
        </li>
    

                                    
            <li>
            <a href="#lang-es-ES">EspaÃ±ol</a>
        </li>
    

                                    
            <li>
            <a href="#lang-it-IT">Italiano</a>
        </li>
    

                                    
            <li>
            <a href="#lang-zh-CN">ä¸­åç</a>
        </li>
    

                            </ul>
        </li>

    
                                        </ul>
                </div>
            </div>
        </div>
    </div>



        </div>

      </header>

      
    <!--[if lt IE 9]>
    <div style="position:relative">
        <div id="disclaimer" class="alert alert-warning span8 offset2" style="font-size:14px;line-height:22px" style="color:#821">
            <h3>Your browser is not supported</h3>
            <p>You are using a browser that is not supported at the moment. Please use one of the following browsers instead. Note that this only applies to the chart editor. The charts itself can be viewed with any major browser.</p>

            <div style="text-align:center">
                <a href="http://mozilla.org/firefox/" title="Firefox" class="browser firefox"></a>
                <a href="http://google.com/chrome" title="Chrome" class="browser chrome"></a>
                <a href="http://www.opera.com/" title="Opera" class="browser opera"></a>
                <a href="http://www.apple.com/safari/" title="Safari" class="browser safari"></a>
                <a href="http://windows.microsoft.com/en-US/internet-explorer/help/ie-9/9-reasons-to-get-internet-explorer-9" title="Internet Explorer 9.0" class="browser msie"></a>
            </div>
        </div>
    </div>
    <![endif]-->


      
    <div class="row docs error">

        <div class="span8">

            <h1 class="title">404 - Page not found</h1>

            <p class="big">

                The page you are looking for could not be found. Check the address bar to ensure your URL is spelled correctly. If all else fails, you can visit our home page at the link below.

            </p>

            
            <p>Resturn to the Datawrapper <a href='/'>homepage</a>.</p>

            
        </div>
    </div>




          <footer class="footer">

        <p class="pull-right" style="text-align:right">
          <a href="#top">Back to top</a>
          <span class="version">version <a href="https://github.com/datawrapper/datawrapper/blob/master/CHANGELOG.md#170">1.7.0</a> </span>
        </p>

        <p>
                      Datawrapper is an <a href="http://github.com/datawrapper/datawrapper">open source</a> project by <a href="http://abzv.de">ABZV</a> - a German training institution for newspaper journalists.                  </p>
                <div class="footer-links">
                      <a href="http://docs.datawrapper.de/de/quickstart">Schnellstart</a>
                      <a href="http://docs.datawrapper.de/de/tutorial">Tutorial</a>
                      <a href="http://docs.datawrapper.de/de/terms">Nutzungsbedingungen</a>
                      <a href="http://docs.datawrapper.de/de/imprint">Impressum</a>
                  </div>
              </footer>
    
    </div>

    <div id="alertModal" class="modal hide">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="bg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path id="light-bulb-18-icon" d="M292.2,381.263h-72.511c-5.082,0-9.201,4.12-9.201,9.203c0,5.082,4.119,9.201,9.201,9.201H292.2
c5.083,0,9.202-4.119,9.202-9.201C301.402,385.383,297.283,381.263,292.2,381.263z M290.546,411.9h-69.201
c-5.082,0-9.201,4.121-9.201,9.202c0,5.083,4.119,9.202,9.201,9.202h69.201c5.082,0,9.201-4.119,9.201-9.202
C299.747,416.021,295.628,411.9,290.546,411.9z M221.82,442.111C239.735,458.673,241.58,462,248.731,462h13.774
c6.99,0,8.714-3.084,27.564-19.889H221.82z M360.699,221.629c0,62.305-53.581,97.22-53.581,146.388h-24.4
c0.021-60.599,53.142-92.516,53.142-146.388c0-100.84-159.828-100.998-159.828,0c0,53.823,52.2,84.366,53.409,146.388h-24.668
c0-49.168-53.581-84.083-53.581-146.388C151.191,87.725,360.699,87.589,360.699,221.629z M269.203,95.112H244.14V50h25.063V95.112z
M355.264,73.97L333.18,62.12l-22.056,41.103l22.085,11.85L355.264,73.97z M419.355,136.042l-14.599-20.372l-40.099,28.739
l14.598,20.371L419.355,136.042z M423.781,294.141l-45.115-18.278l-9.409,23.229l45.116,18.277L423.781,294.141z M438.789,205.555
h-51.125v25.062h51.125V205.555z M200.876,103.223L178.82,62.12l-22.084,11.85l22.055,41.103L200.876,103.223z M147.344,144.409
l-40.101-28.739l-14.599,20.372l40.1,28.738L147.344,144.409z M143.178,296.9L132.9,274.043l-45.116,20.283l10.276,22.857
L143.178,296.9z M124.338,205.555H73.211v25.062h51.127V205.555z"></path> </svg>
        </div>
        <div class="message"></div>
        <div class="buttons">
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">

$(function() {
  dw.backend.__chartCacheDomain = 'c.datawrapper';
  dw.backend.__domain = 'datawrapper';
});
    </script>
        <script type="text/javascript">

    dw.backend.messages = {

        needMoreSpace: "Watch\x20out\x3A\x20Your\x20chart\x20needs\x20more\x20space.\x20To\x20get\x20rid\x20of\x20the\x20scrollbars\x20just\x20\x5Bresize\x20iFrame\x20to\x20chart\x5D",

        provideCurPwd: "For\x20security\x20reasons,\x20please\x20provide\x20your\x20current\x20password.",

        pwdTooShort: "Your\x20password\x20doesn\x27t\x20meet\x20our\x20security\x20guidelines.\x20Please\x20provide\x20at\x20least\x204\x20characters.",

        pwdMismatch: "The\x20password\x20and\x20the\x20repeated\x20password\x20must\x20not\x20differ.",

        noData: "Awesome\x20charts\x20need\x20awesome\x20data.\x20If\x20you\x20just\x20want\x20to\x20try\x20out\x20things\x20you\x20can\x20select\x20one\x20of\x20our\x20sample\x20datasets.",

        insufficientData: "\x3Ch4\x3EInsufficient\x20data\x3C\x2Fh4\x3EThe\x20visualization\x20needs\x20at\x20least\x20one\x20column\x20of\x20the\x20type\x20\x3Cb\x3E\x25type\x3C\x2Fb\x3E\x20to\x20populate\x20axis\x20\x3Ci\x3E\x25key\x3C\x2Fi\x3E.\x20Please\x20make\x20sure\x20that\x20your\x20data\x20is\x20recognized\x20correctly\x20in\x20the\x20previous\x20step.",

        liveEditSuccess: "Your\x20changes\x20have\x20been\x20saved.\x20In\x20the\x20\x5BCheck\x20\x26\x20Describe\x5D\x20step\x20you\x20can\x20restore\x20the\x20original\x20dataset\x20using\x20the\x20\x3Cb\x3Erevert\x3C\x2Fb\x3E\x20button."

    };

</script>


    
  </body>
</html>